<p class="disclaimer">
    <strong>DISCLAIMER</strong>: I or angular-wistia have no association with the Wistia company.
</p>

<h2>Introduction</h2>

<p>
    <strong>wisitia-angular</strong> is an angular module that wraps Wistia Javascript library and REST services as
    Angular directives and services. Please use left navigation menu to see documentation and sample code.
</p>

<h2>What is Wistia?</h2>

<p>
    <a href="http://wistia.com/product" target="_blank"><img src="img/wistia_logo.png" alt="Wistia" style="height: 12px;"></a>
    is professional video hosting service with support of analytics and video marketing tools. Wistia has
    <a href="http://wistia.com/doc/categories/developers" target="_blank">developer API</a> that this module uses to
    expose Angular directives and services.
</p>