body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav md-content,
.site-sidenav.md-locked-open {
    color: white;
    background-color: #106CC8;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
}

.docs-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-bottom: none;
}

.docs-logo:focus {
    outline: none;
}

.docs-logo img {
    margin-top: 28px;
    width: 150px;
}

.docs-logotype {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}

.nav-header {
    background-color: #106CC8;
    background: linear-gradient(#185694, #106cc8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
    background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: linear-gradient(top, #185694 0%, #106cc8 100%);
    border-bottom: solid 1px rgba(26, 50, 179, 0);
    padding-bottom: 6px;
    flex-shrink: 0;
    z-index: 2;
}

.site-content-toolbar {
    background: #E8E8E8 !important;
    color: #202020 !important;
    z-index: 3;
    border-bottom: 1px solid #BFBFBF;
}

.md-icon-button .fa {
    font-size: 22px;
}

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
    background: #267ED5 !important;
}

.docs-menu .md-button md-icon {
    color: white;
}

.menu-heading {
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 8px 16px 0;
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.54);
}

docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.docs-menu .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.layout-content, .doc-content {
    max-width: 864px;
    margin: 16px;
    box-sizing: border-box;
}

.doc-content h2,
.md-headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

a {
    color: #106CC8;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid rgba(64, 84, 178, 0.25);
    -webkit-transition: border-bottom 0.35s;
    -moz-transition: border-bottom 0.35s;
    -ms-transition: border-bottom 0.35s;
    -o-transition: border-bottom 0.35s;
    transition: border-bottom 0.35s;
}

.disclaimer {
    color: #b5b5b5;
}

.disclaimer strong {
    border-bottom: 1px dotted #b1b1b1;
    text-decoration: none;
}

md-icon.fa {
    font-size: 24px;
}

table {
    width: 100%;
}