//TODO: messy style, simplify

@attachment-item-size: 110;

.btn-attachments {
    .btn;
    .btn-primary;
}


.panel-attachments {
    .panel;
    margin-top: 5px;

    .attachment-label {
        background: rgba(0, 0, 0, .5);
        color: white;
    }

    input {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: @attachment-item-size + 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        direction: ltr;
        cursor: pointer;
    }

    .attachment-item {
        position: relative;
        display: inline-block;
        width: @attachment-item-size + 35px;
        height: @attachment-item-size + 0px;
        border-radius: 4px;
        border: 1px solid #cccccc;
        margin-right: 4px;
        overflow: hidden;

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        .thumbnail {
            width: 100%;
        }

        .bottom-centered {
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 100;
            text-align: center;
        }

        .top-right-cornered {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
        }

        .action {
            display: none;
            margin: 3px;
            padding: 5px;
            color: white;
            border-radius: 50%;
            background-color: rgba(135, 2, 0, 0.5);
            cursor: pointer;
        }


        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        .fa-play-circle {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .attachment-item:hover {
        .action {
            display: block;
        }
    }

    .attachment-item:last-child {
        margin-right: 0;
    }

    .attachment-item:first-child {
        margin-left: 0;
    }
}

