<div>
    <form id="fileupload" method="POST" enctype="multipart/form-data" file-upload="options">
        <a class="btn-attachments" ng-click="toggleCollapse()">
            Attachments <i class="fa" ng-class="collapsed?'fa-chevron-right':'fa-chevron-down'"></i>
        </a>

        <div ng-hide="collapsed" class="panel-attachments">
            <div class="attachment-item" ng-repeat="a in attachments" ng-click="triggerViewer(a)">
                <span class="bottom-centered attachment-label ellipsis">{{a.name}}</span>
                <i class="fa fa-times top-right-cornered clickable fa-action-icon action"
                   aw-async-click="removeAttachment(a);"></i>
                <img ng-src="{{a.thumbnail.url}}" class="centered thumbnail">
                <i class="fa fa-play-circle fa-3x centered"></i>
            </div>

            <div class="attachment-item" ng-repeat="file in queue" file-upload-progress="file.$progress()">
                <span class="bottom-centered ellipsis">{{file.name}}</span>
                <div class="progress-radial centered" ng-style="{'background-image': getRadialProgressStyle(num)}">
                    <div class="overlay">{{num}}%</div>
                </div>
            </div>

            <div class="attachment-item">
                <i class="fa fa-plus fa-2x centered"></i>
                <input type="file" name="files[]" multiple>
            </div>
        </div>
    </form>
</div>
